{{- $category := "" }}
{{- with .GetTerms "categories" }}{{ $category = index . 0 }}{{ end }}
<div class="home-card">
    {{- with $category }}<div class="article-category">{{ .LinkTitle }}</div>{{ end }}
    <h2><a href="{{ .RelPermalink }}" aria-label="Read more about {{ .LinkTitle }}">{{ .LinkTitle }}</a></h2>
    {{- partial "content/article-meta.html" . }}
    <article class="prose">
        {{ .Summary }}
    </article>
    <a class="button read-more" href="{{ .RelPermalink }}" aria-label="Read full article: {{ .LinkTitle }}">Read more &#8594;</a>
    {{- partial "content/terms.html" (dict "taxonomy" "tags" "page" .) }}
</div>