{{ define "main" }}
<div class="slim-padding">
    <h1 class="montserrat-heading">{{ .Title }}</h1>
    {{ .Content }}
    <div class="terms-container">
        {{ range .Data.Terms.ByCount }}
        <div class="term-row">
            <div class="term-info">
                <h2 class="montserrat-heading-bold">{{ .Page.LinkTitle }}</h2>
                <p>{{ .Page.Params.description }}</p>
                <a href="{{ .Page.RelPermalink }}" class="montserrat-heading-bold">SEE MORE</a>
            </div>
            
            <div class="minimal-articles-list">
                {{ range first 3 .Pages }}
                <div class="minimal-article-card">
                    <a href="{{ .RelPermalink }}" class="article-link" aria-label="Read more about {{ .LinkTitle }}">
                        <h3 class="montserrat-heading">{{ .LinkTitle }}</h3>
                        <p class="card-description">{{ .Description }}</p>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
        
        <div class="minimal-divider"></div>
        {{ end }}
    </div>
</div>
{{ end }}