{{- define "main" }}
<div class="slim-padding">
    <h3 class="montserrat-heading"><a href="{{ "/" | relLangURL }}{{ .Data.Plural | urlize }}">
        ← {{ upper .Data.Plural  }}
    </a></h2>
    <h1 class="montserrat-heading">{{ .Title }}</h1>
    <h3 class="montserrat-heading">{{ .Params.description }}</h3>

        {{ .Content }}
        <div class="detailed-articles-list">
            {{- range .Pages.ByDate.Reverse }}
                {{- .Render "detailed-card"}}
            {{- end }}
        </div>
    </div>
{{- end }}