{{ define "main" }}
  <div class="content">
    {{- .Content }}
    {{- $pages := site.RegularPages }}
    {{- with site.Params.mainSection }}{{ $pages = where site.RegularPages "Section" . }}{{ end }}
    {{- $paginator := .Paginate $pages.ByDate.Reverse 5}}
    <section class="articles-list">
      {{- range $paginator.Pages }}
      {{- .Render "card-feed" }}
      {{- end }}
    </section>

    {{- if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination-container">
      {{- partial "content/pagination.html" . }}
    </div>
    {{- end}}
  </div>
{{- end }}