{{ define "main" }}
<main>
  <div class="content">
    {{- .Content }}
    {{- $pages := where .Site.RegularPages "Section" "articles" }}
    {{- $paginator := .Paginate $pages.ByDate.Reverse 5}}
    <section class="articles-list">
      {{- range $paginator.Pages }}
      {{- .Render "card" }}
      {{- end }}
    </section>

    {{- if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination-container">
      {{- partial "pagination.html" . }}
    </div>
    {{- end}}
  </div>
</main>
{{- end }}