{{- define "main" }}
{{- $category := "" }}
{{- with .GetTerms "categories" }}{{ $category = index . 0 }}{{ end }}
<article class="article-container prose">
    <!-- Article Header -->
    <header class="article-header">
        {{- with $category }}<div class="article-category">{{ .LinkTitle }}</div>{{ end }}
        <h1 class="article-title">{{- .Title }}</h1>
        {{- with .Description }}<p class="article-subtitle">{{ . }}</p>{{ end }}
        <div class="article-info">
            <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "January 2, 2006" }}
            </time>
        </div>
    </header>
    <div class="section-divider"></div>

    <!-- Article Content -->
    <div class="content">
        {{ .Content }}
    </div>

    <!-- Article Footer -->
    <footer class="article-footer">
        <nav class="article-tags">
            {{- partial "content/terms.html" (dict "taxonomy" "tags" "page" .) }}
        </nav>
    </footer>
</article>
<aside class="related-posts">
    {{- partial "content/related.html" .}}
</aside>
<div class="content">
    {{ partial "content/giscus.html" . }}
</div>
{{- end }}