.button {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 100;
  font-size: 20px;
  position: relative;
  padding: 10px;
}

a.button.read-more:before,
a.button.read-more:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

a.button.read-more:before {
  top: -2.5%;
  left: -1%;
  /* border-top: 1.5px solid #660099; */
  border-top: 1.5px solid var(--color-accent);
  border-left: 1.5px solid var(--color-accent);
}
a.button.read-more:after {
  bottom: -2.5%;
  right: -1%;
  border-bottom: 1.5px solid var(--color-accent);
  border-right: 1.5px solid var(--color-accent);
}

a.button.read-more:hover:before,
a.button.read-more:hover:after {
  width: 100%;
  height: 100%;
  transition: all 0.25s ease;
}
