.tags ul {
  padding: 0px;
}

ul.tags {
  padding: 10px 0 0;
}

.tags li {
  display: inline;
  margin: 0px 2px;
}

.tags a {
  font-size: 0.75rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5em 1.2em;
  border-radius: 5px;
}
