div#toc {
    padding: 20px;
    border: 1.3px solid #aaa;
    display: inline-block !important;
    margin: 20px;
}
.clickable-header {
  cursor:pointer;
}
.clickable-header:hover {
  text-decoration:underline;
}
.top-level-header {
  display:inline;
}
.back-to-top {
  margin-left:5px;
  cursor:pointer;
}


.image-wrapper {
    text-align: center;
    color: #888;

    .image-caption {
        margin-top: $spacing-unit / 3;
    }
}
.imageContainer > img:hover {
  width: 500px;
  height: 200px;
}

.eqn-wrapper{
  padding: 3px;
}
