{{- $related := .Site.RegularPages.Related . | first 5 }}
{{- with $related }}
<hr class="divider">
<h3 class="further-reading-heading">Further Reading</h3>
<aside>
  <div class="related-cards">
    {{ range . }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <div class="related-card">
      <!-- <hr/> -->
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
      {{- partial "article-meta" . }}
      <p>{{ .Description | truncate 180 }}</p>
    </div>
    {{- end }}
  </div>
</aside>
{{- end }}