{{- define "main" }}
{{- $category := index (.GetTerms "categories") 0 }}
<article class="article-container">
    <!-- Article Header -->
    <header class="article-header">
        <div class="category">{{ $category.LinkTitle }}</div>
        <h1 class="title">{{- .Title }}</h1>
        <p class="description">{{- .Description }}</p>
        <div class="meta">
            <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "January 2, 2006" }}
            </time>
        </div>
    </header>
    <div class="minimal-divider"></div>

    <!-- Article Content -->
    <div class="content">
        {{ .Content }}
    </div>

    <!-- Article Footer -->
    <footer class="article-footer">
        <nav class="article-tags">
            {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </nav>
    </footer>
</article>
<aside class="related-posts">
    {{- partial "related.html" .}}
</aside>
<div class="content">
    {{ partial "giscus.html" . }}
</div>
{{- end }}